<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Soso Lighting CMS</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/style.css" crossorigin="anonymous">
</head>
<body>
	<div id="container">
		<h1>Soso Lighting CMS</h1>

		<!-- Start and Stop Time Selection -->
		<div class="times-container">
			<h3>On and Off Times</h3>
			<span class="show-subtitle">Control the lighting app on/off state</span>
			<br /><br />

			<div id="onOffTimes" class="form-container">
				<form id="on_off_controls" name="onOffControls">
					<div class="radio-button">
						<input type="radio" name="timeRadios" value="on"> Always On
					</div>
					<div class="radio-button">
						<input type="radio" name="timeRadios" value="off"> Always Off
					</div>

					//<div class="radio-button">
					//	<input type="radio" name="timeRadios" value="sunsetSunrise"> Sunset and Sunrise
					//</div>

					<div class="radio-button">
						<input type="radio" name="timeRadios" value="schedule"> Custom (set below)
					</div>

					<br />

					<div class="custom-times">
						<div class="on">
							<label for="on_hour">On Hour (24hr):</label>
							<input id="on_hour" class="" type="on_hour" name="on_hour">

							<label for="on_minute">On Minute:</label>
							<input id="on_minute" class="" type="on_minute" name="on_minute">
						</div>

						<div class="off">
							<label for="off_hour">Off Hour (24hr):</label>
							<input id="off_hour" class="" type="off_hour" name="off_hour">
							<label for="off_minute">Off Minute:</label>
							<input id="off_minute" class="" type="off_minute" name="off_minute">
						</div>
					</div>

					<br />

					<button type="submit" id="timesApply" class="h-color">Apply</button>
				</form>

			</div>
		</div>
		<!-- End of Start and Stop Time Selection -->
		<br />
		<br />
		<h3>Chimes</h3>
		<span class="show-subtitle">Cue special animations in the lighting app</span>
		<br /><br />

		<div class="form-container">
			- for(var x =0; x<chimes.length; x++)
					button(class="chime-button", data-id=chimes[x].id, data-title=chimes[x].title)= chimes[x].title
					if( x!=chimes.length -1)
						br
						br
		</div>

		<div data-status="connecting" class="connection"></div>
	</div>

	<!-- <script src="js/libs/socket.io.js"></script> -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>