@import 'reset.css';

html {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 18px;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1.4em;
	margin-bottom: 0.25em;
}

button {
	font-size: 1em;
}

input {
	margin-bottom: 0.5em;
	border: none;
}
input:disabled {
	background-color: #ededed;
	color: #bbb;
}

#container {
	width: 600px;
	margin: 0 auto;
	padding-top: 1.25em;
}

.form-container {
	padding: 30px;
	background: lightgrey;
}

.connection {
	margin-top: 30px;
	font-size: 0.75em;
	height: 30px;
}

.connection[data-status="connecting"]:after {
	color: orange;
	content: 'Connecting to socket server...';
}
.connection[data-status="connected"]:after {
	color: green;
	content: 'Connected to server ✓';
}
.connection[data-status="disconnected"]:after {
	color: red;
	content: 'Disconnected from server ×';
}